/*this is the main default styling sheet
#navigation section#*/
*{
    margin:0;
    padding :0;
    color:black;
    background-color: #0c2340;
    font-size: 2.2vh;
}
#navgroup{
    margin:0;
    margin-bottom: 2em;
    padding: 0;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter:blur(25px);
    left:0;
    top:0;
    opacity: 0.6;
    height:40px;
    position: static;
}
#logoimage{
    height:30px;
    width:30px;

}
nav{
    padding: none;
    margin:0;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}
nav .logo{
    padding:none;
    margin-left:12px;
    margin-top: none;
    display: flex;
    flex-direction: column;
    column-gap: 4em;
}
nav ol{
    list-style-type:none;
    display: flex;
    color: white;
    justify-content: space-between;
    width:50%;
    align-items: center;
    
}
nav ol li a:hover{
    color:#0fff50;
    transition: ease-in-out 250ms;
    transform:skew(10deg,2deg);
    flex-grow: 2;
}
nav ol li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:aliceblue


}
nav ol li a{
    text-decoration: none;
}
/* section main */

/#main{
    top:41px;
    height:100%;
    margin: 20px;
    display: flex;
    align-items: normal;
    align-items: baseline;
    width: 100%;
    font: larger aliceblue;
    display:flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around ;
    margin:20px;
    padding:20px;
    font-size: 3vh;

}
.companyInformation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around ;   
}
.companyInformation p{
    text-align: center;
    font-size:2.2vh;
}
#innnerSection{
    display:flex;

}